{% extends "base.html" %}
{% block title %}Admin{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block active %}
  <li><a href="{{ url_for('order_api') }}">Order</a></li>
  <li><a href="{{ url_for('login_page') }}">Login</a></li>
  <li class="active"><a href="{{ url_for('orderlist_page') }}">Admin</a></li>
{% endblock %}

{% block nav %}
    {{ super() }}
{% endblock %}

{% block content %}
<div class="col-md-9">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">number</th>
        <th scope="col">destination</th>
      </tr>
    </thead>
    <tbody>
      {% for order in orders %}
      <tr>
          <td>{{ order.id }}</th>
          <td>{{ order.number }}</th>
          <td>{{ order.destination }}</th>
      </tr>
      {% endfor %}
   </tbody>
 </table>
</div>
<form action="/logout">
  <button type="submit" class="btn btn-default">Выйти</button>
</form>
{% endblock %}
