<!DOCTYPE html>
<html lang="en">
   <head>
     {% block head %}
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="Taxi service">
      <meta name="author" content="Anton Stupnitskiy">
      <title>{% block title %}{% endblock %} - Taxi Service</title>
      <!-- Bootstrap core CSS -->
      <link href="../static/css/bootstrap.css" rel="stylesheet">
      <link href="../static/css/main.css" rel="stylesheet">
      {% endblock %}
   </head>
   <body>
     {% block nav %}
      <div class="container">
         <div class="jumbotron" style="height: 310px">
            <div class="col-lg-5">
               <img src="../static/img/photostock.jpg" class="img-rounded" style="position: relative">
            </div>
            <h1 style="text-left;">Taxi service</h1>
            <p style="text-align:left; margin-right:10px;">This site made by A.Stupnitskiy as a task, using Flask, python3.6 and PostgreSQL. Visual part provided by Bootstrap In work.</p>
         </div>
         <nav class = "col-xs-12 col-md-3" role="navigation">
            <ul class="nav nav-pills nav-stacked">
              <li class="nav-header">Project pages</li>
              {% block active %}{% endblock %}
            </ul>
         </nav>
      {% endblock %}
      {% block content %}{% endblock %}
         <p>
         <h2>Lorem ipsum</h2>
         dolor sit amet, consectetur adipiscing elit. Vestibulum convallis fringilla massa, ac semper nulla vulputate a. Sed auctor massa eget consequat fermentum. Nam consectetur mauris vel luctus pharetra. Proin in nibh pharetra, rhoncus lacus feugiat, ultricies lectus. Vivamus arcu nisi, vulputate et volutpat non, fringilla non tellus. Nunc imperdiet, nisi lobortis sollicitudin eleifend, odio libero faucibus nibh, ac gravida massa libero eu ex. Nunc bibendum bibendum sodales. Praesent vitae gravida ex, in tempor leo. Integer viverra et dolor sit amet lobortis. Vestibulum diam velit, porttitor id consectetur ac, sagittis vitae neque.</p>
         <p>
         <h2>Suspendisse arcu urna,</h2>
         efficitur id ex nec, cursus auctor urna. Morbi commodo risus nec interdum scelerisque. Suspendisse potenti. Morbi quis ipsum viverra, iaculis tellus a, facilisis risus. Quisque ultricies tellus eget erat tincidunt tempus. Ut porta sed orci ac consectetur. In hac habitasse platea dictumst. Donec in consequat libero. Quisque semper ipsum arcu, eget rutrum ante venenatis sed. Etiam volutpat odio non sagittis bibendum. Praesent lorem ligula, iaculis ac tincidunt sed, vestibulum vehicula diam. Morbi laoreet ante eget eros pharetra, vel iaculis lectus posuere. Sed accumsan sem est, at vehicula leo dignissim eget. Morbi mollis nunc a tortor viverra malesuada. Mauris tempor nisl a nisi viverra, at aliquam diam tincidunt. Cras a urna vitae justo mattis ornare in viverra eros.</p>
         <p>
         <h2>Duis mattis laoreet ipsum in auctor</h2>
         Suspendisse potenti. Proin vulputate sed enim tristique commodo. Ut finibus at eros posuere eleifend. Donec consequat mi orci, sed dapibus nulla viverra vel. Interdum et malesuada fames ac ante ipsum primis in faucibus. In efficitur lectus quis consequat pharetra. Fusce at gravida mi, sed egestas felis. Phasellus et mauris vitae felis facilisis consequat nec at massa. Fusce in iaculis libero, at euismod diam. Maecenas felis justo, fringilla sed consequat vitae, faucibus eu eros. Curabitur iaculis mattis lectus eu porttitor. Integer mattis pellentesque nisl volutpat lobortis.</p>
         <p>
         <h2>Phasellus et aliquet ipsum</h2>
         Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis elit et lacus porta scelerisque eget euismod erat. Fusce quis nunc nec mauris consequat porta dictum tincidunt felis. Cras dapibus a eros sed gravida. Maecenas vitae arcu interdum neque suscipit gravida. Nulla eros dui, maximus ac ipsum nec, ultricies lobortis turpis. Curabitur a dignissim justo, sed laoreet ex. Phasellus mattis eros at sagittis posuere. Quisque placerat nulla sed dui vestibulum, nec dapibus felis aliquet. Proin blandit varius risus non faucibus. Donec luctus aliquam magna, a hendrerit est porttitor at. Sed massa leo, venenatis in viverra et, dapibus sed urna. Aenean pellentesque est a est vulputate, eget aliquam mauris sodales. Phasellus volutpat est a rhoncus semper. Proin pulvinar vel augue sed bibendum.</p>
         <p>
         <h2>Morbi tincidunt quis sem a tempus</h2>
         Quisque rhoncus quis odio non efficitur. Nam posuere erat nec odio efficitur, in volutpat quam rhoncus. Aenean rutrum, mi in iaculis lobortis, nisi purus viverra ipsum, in dictum nisl mauris non neque. Praesent eget metus vitae tellus vulputate tincidunt. Quisque elementum vel ligula nec lobortis. Nulla in pellentesque ante, at hendrerit urna. Nunc at erat non mauris tincidunt mattis. Vivamus nec libero a enim laoreet vulputate quis vel elit. Integer pharetra viverra eleifend. Suspendisse fermentum leo et enim mattis, sed consequat quam consectetur. Nam porttitor lectus id aliquam scelerisque. Aliquam eu felis consequat, ultricies felis a, mollis sem.</p>
      </div>
      <!-- Bootstrap core JavaScript
         ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <script>window.jQuery || document.write('<script src="../static/js/jquery.min.js"><\/script>')</script>
      <script src="../static/js/bootstrap.js"></script>
   </body>
</html>
