{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block active %}
  <li><a href="/">Order</a></li>
  <li class="active"><a href="/login">Login</a></li>
  <li><a href="/admin">Admin</a></li>
{% endblock %}

{% block nav %}
    {{ super() }}
{% endblock %}

{% block content %}
<form class="col-md-9" method="post">
  <div class="form-group">
      <label>Логин:</label>
      <input required type="text" maxlength="24" class="form-control" name="login" placeholder="Введите свой логин"/>
  </div>
    <div class="form-group">
      <label >Пароль</label>
      <input required type="password" maxlength="16" class="form-control" name="password" placeholder="Пароль">
    </div>
    <button type="submit" class="btn btn-default">Войти</button>
</form>
{% endblock %}
